@model Practica2.Models.Moto;
<div class="row-mb-4">
    <img src="@Model.Imagen" class="card-img-top" alt="...">
    <br>
    <br>
    <div class="text-center">
        <a href="/moto" class="btn btn-primary ">Regresar</a>
    </div>
</div>